.probando{

    margin-top: -10px;

}

.header2{
    box-sizing: border-box;
    width: 100%;
    height: 110px;
    border-radius: 0 0 30px 30px;
    background: var(--Botn, #8B2427);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 89px;
}

.informacion{
    display: flex;
    width: 445px;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.saludo{
    color: #FFF;
    font-family: "Times New Roman";
    font-size: 30px;
    font-style: normal;
    font-weight: 550;
}

.mensaje{
    color: var(--Blanco, #FFF);
    font-family: "Times New Roman";
    font-size: 23px;
    font-style: bold;
    font-weight: 550;

    line-height: normal;
}

.principal{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.btn{
    box-sizing: border-box;
    width: 272px;
    height: 40px;
    background-color: #6C81BB;
    box-shadow: 4px 4px 6.2px 0 rgba(0, 0, 0, 0.25);   
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

        span{
            color: #F5F5F5;
            font-family: "Times New Roman";
            font-size: 20px;
            font-style: normal;
            font-weight: var(--sds-typography-body-font-weight-strong);
            line-height: 140%; /* 28px */
        }
}

@media (max-width: 500px) {
    .header2 {
        padding: 10px 10px;
        margin-top: 20px;
        height: auto;
        gap: 15px;
        flex-direction: column;
    }

    .informacion {
        gap: 5px;
        width: 100%;
        align-items: center;
        
    }

    .saludo {
        font-size: 20px; 
        align-self: center;
    }

    .mensaje {
        font-size: 15px;
        align-self: center;
        text-align: center;
    }

    .btn {
        width: 180px;
        height: 35px;
    }

    .btn span {
        font-size: 18px;
    }

    .periodo {
        font-size: 12px;
    }
}

@media (min-width: 500px) and (max-width: 768px) {
    .header2 {
        padding: 20px 40px;
        margin-top: 30px;
        height: auto;
        gap: 20px;
        
    }

    .informacion {
        gap: 7px;
        width: 100%;
        
    }

    .saludo {
        font-size: 24px;
    }

    .mensaje {
        font-size: 18px;
    }

    .btn {
        width: 220px;
        height: 38px;
    }

    .btn span {
        font-size: 19px;
    }

    .periodo {
        font-size: 14px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .header2 {
        padding: 30px 70px;
        margin-top: 35px;
        height: auto;
        gap: 25px;
        
    }

    .informacion {
        gap: 8px;
        width: 100%;
        
    }

    .saludo {
        font-size: 26px;
    }

    .mensaje {
        font-size: 20px;
    }

    .btn {
        width: 250px;
        height: 39px;
    }

    .btn span {
        font-size: 19px;
    }

    .periodo {
        font-size: 15px;
    }
}